<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>View</title>
</head>
<body>
<a href="/categories">Back List</a>
<h1>Detail of category: <span th:text="${category.name}"></span></h1>
<table border="1">
    <tr>
        <td>Code</td>
        <td>Name</td>
        <td>Price</td>
        <td>Image</td>
        <td>Brand</td>
    </tr>
    <th:block th:each="p:${products}">
        <tr>
        <td th:text="${p.code}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td>
            <img th:src="@{/features/__${p.image}__}" height="150" width="150">
        </td>
        <td th:text="${p.brand.name}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>